@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css */

.signature-canvas {
    border: 1px solid #ccc;
  }
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }
  